/****************** General ******************/

.beige-bg {
   background-color: #e6ccb6; 
}

.floating {
   position: fixed;
   width: 60px;
   height: 60px;
   bottom: 40px;
   right: 40px;
   background-color: #25d366;
   color: #fff;
   border-radius: 50px;
   text-align: center;
   font-size: 30px;
   box-shadow: 2px 2px 3px #999;
   z-index: 100;
  }
  
  .fab-icon {
   margin-top: 15px;
  }


/****************** Header ******************/
nav {
   background-color: white !important;
   border-bottom: 1px solid lightgray !important;
}

nav > * {
   background-color: white !important;
}


/****************** Masthead ******************/
.masthead {

}

#mastheadText {
   padding: 5%;
   color: black;
}

#mastheadImage > img {
   max-width: 500px;
   width: 90%;
}

#mastheadImage {
}

#cta-masthead {
   color: #fff;
   background-color: black;
   border-color: black;
}

.social-buttons {
   margin-top: 50px;
}

.cta-social {
   height: 3.5rem !important;
   width: 3.5rem !important;
}

.cta-social > i {
   width: 50%;
}

#phone-number {
   margin-top: 2rem !important;
   margin-bottom: -2rem !important;
}


/****************** Services ******************/


/****************** Background ******************/
.ngo > img {
   border-radius: 100%;
   width: 80%;
   height: auto;
   background-color: white;
   max-width: 150px;
   margin-bottom: 3%;
   filter: grayscale(100%);
}

#background {
   padding-bottom: 0px !important;
}

/****************** Reviews ******************/

.review > img {
   margin: 10px;
   display: block;
   width: 25%;
   min-width: 300px;
   max-width: 400px;
   text-align: center;
   border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

/****************** Facilities ******************/


/****************** Location ******************/

#map {
   border-radius: 2%;
   margin-bottom: 20px;
}

/****************** Contact ******************/


/****************** Footer ******************/

